<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357653782570-hhm06hgi92ggjlgnr4qpof5bqebr6ku8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357653782570-hhm06hgi92ggjlgnr4qpof5bqebr6ku8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>357653782570-id73qq3fl4cjvg15o2p62nis9v9rr1d1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDUSwP_YV51uAWSK0jwUhmEp-3ShZvqcsM</string>
	<key>GCM_SENDER_ID</key>
	<string>357653782570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lovedog.debug</string>
	<key>PROJECT_ID</key>
	<string>lovedog-e26a2</string>
	<key>STORAGE_BUCKET</key>
	<string>lovedog-e26a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357653782570:ios:a7dd922cd0c36c6b08a353</string>
	<key>DATABASE_URL</key>
	<string>https://lovedog-e26a2-default-rtdb.firebaseio.com</string>
</dict>
</plist>