<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233237543481-3lbqbf42o58681im0hm0k65o4m5v02uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233237543481-3lbqbf42o58681im0hm0k65o4m5v02uf</string>
	<key>API_KEY</key>
	<string>AIzaSyBErn7-OkFU8iLyEDEa7Hx5I3qBM7rrM2I</string>
	<key>GCM_SENDER_ID</key>
	<string>233237543481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FavoriteRestaurant</string>
	<key>PROJECT_ID</key>
	<string>favoriterestraunt</string>
	<key>STORAGE_BUCKET</key>
	<string>favoriterestraunt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233237543481:ios:46d76205fac1f86af56be8</string>
</dict>
</plist>