<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518782007396-1ogtg8htp6pkfuu8ggbof8sfar5p13l2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518782007396-1ogtg8htp6pkfuu8ggbof8sfar5p13l2</string>
	<key>API_KEY</key>
	<string>AIzaSyApqbm_ZB5kdNTXdylFlIO0irLi9klIvcY</string>
	<key>GCM_SENDER_ID</key>
	<string>518782007396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FavoriteRestraunt</string>
	<key>PROJECT_ID</key>
	<string>favoriterestraunt-2171b</string>
	<key>STORAGE_BUCKET</key>
	<string>favoriterestraunt-2171b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518782007396:ios:c733ab6c65185cfded8771</string>
</dict>
</plist>