<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064111528518-12v046ou4kd5pcoepgednp760iorh5pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064111528518-12v046ou4kd5pcoepgednp760iorh5pe</string>
	<key>API_KEY</key>
	<string>AIzaSyCl-d-k_GBCF_9Oww-RrtWaZB0uoHjAbgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1064111528518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapp.diary</string>
	<key>PROJECT_ID</key>
	<string>testproject-1b1eb</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-1b1eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064111528518:ios:d0ec4b617b3f967ce78847</string>
</dict>
</plist>